
/* my custom css file that overides some stuff from bootstrap */
body
{
    background-color:black;
    color:white;
    /* text-align:justify; */
}

.center
{
    text-align:center !important;
}

.center-block
{
    margin:0 auto !important;
    float: none !important;
}

.navbar-right
{
    padding:15px;
}

.modal 
{
    color:black;
}

hr
{
    color:#111111; /* For IE7+ */
    border-color: #111111; /* For Chrome and */
    background-color: #111111; /* For Firefox and Opera*/
}

.modal-open
{
    overflow: auto !important;
}

.controls
{
    color:black;
}

.styled
{
    color:black;
}